.seek-container {
  width: 95%;
  margin: auto;

  .seek {
    width: 100%;
    cursor: pointer;
  }

  .seek[value] {
    -webkit-appearance: none;
    appearance: none;
    background-color: white;
    color: #3f51b5;
    height: 8px;
    border-radius: 8px;
  }

  .seek[value]::-webkit-progress-bar {
    background-color: white;
    border-radius: 2px;
    border: 1px solid lighten(#acacac, 20%);
    color: grey;
  }

  .seek::-webkit-progress-value {
    background-color: #3f51b5;
  }

  .duration-text {
    font-size: 12px;
    color: grey;
  }

  .seek-time-container {
    display: flex;
    justify-content: space-between;
  }

  .play-pause-btn-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.play-icon {
  height: 24px;
  width: 24px;
  padding: 10px;
}

.volume-icon {
  height: 16px;
  width: 16px;
  margin-right: 5px;
}

mat-slider {
  margin-top: -6px;

  &:hover {
    .mat-slider-wrapper {
      .mat-slider-thumb-container {
        .mat-slider-thumb {
          display: none;
        }
      }
    }
  }
}
