<div class="seek-container">
  <progress class="seek" [value]="currentTime || 0" [max]="duration || 0" (click)="onSeek($event)"
      #progress></progress>
  <div class="seek-time-container">
      <span class="duration-text">{{ currentTime | sec2min }}</span>
      <span class="duration-text">{{ duration | sec2min }}</span>
  </div>
  <div class="play-pause-btn-container">
    <img 
      class="icon" 
      [src]="state === AUDIO_EVENTS.playing ? 'assets/icons/pause.png' : 'assets/icons/play.png'"
      (click)="toggleplay()"
    />
  </div>
</div>