<div class="equalizer-container">
  <div>
    <mat-form-field appearance="fill">
      <mat-label>Effect</mat-label>
      <mat-select [formControl]="effectsControl">
        <mat-optgroup label="Simple effects">
          <mat-option value="lowpass">Lowpass</mat-option>
          <mat-option value="highpass">Highpass</mat-option>
          <mat-option value="bandpass">Bandpass</mat-option>
          <mat-option value="notch">Bandstop</mat-option>
          <mat-option value="allpass">Allpass</mat-option>
          <mat-option value="lowshelf">Lowshelf</mat-option>
          <mat-option value="highshelf">Highshelf</mat-option>
          <mat-option value="peaking">Peaking</mat-option>
        </mat-optgroup>
        <mat-optgroup label="Advanced effects">
          <mat-option value="tremolo">Tremolo</mat-option>
          <mat-option value="stereo-tremolo">Stereo tremolo</mat-option>
          <mat-option value="ping-pong">Ping-pong delay</mat-option>
        </mat-optgroup>
      </mat-select>
    </mat-form-field>
  </div>

  <div *ngIf="effectsControl.value" [ngSwitch]="effectsControl.value">
    <div *ngSwitchCase="'tremolo'">
      <div>
        <span class="form-title">Speed</span>
        <mat-slider
          min="0"
          max="30"
          step="1"
          [thumbLabel]="true" 
          [(ngModel)]="tremoloFrequency" 
          (input)="changeTremoloFrequency($event)"
        >
        </mat-slider>
      </div>
    </div>
    <div *ngSwitchCase="'stereo-tremolo'">
      <span class="form-title">Panning rate</span>
      <mat-slider 
        min="0.5"
        max="10"
        step="0.5"
        [thumbLabel]="true"
        [(ngModel)]="stereoTremoloFrequency" 
        (input)="changeStereoTremoloFrequency($event)"
      >
      </mat-slider>
    </div>
    <div *ngSwitchCase="'ping-pong'">
      <div>
        <span class="form-title">Delay time</span>
        <mat-slider 
          min="0"
          max="1"
          step="0.1"
          [thumbLabel]="true"
          [(ngModel)]="pingPongDelayTime" 
          (input)="changePingPongDelayTime($event)"
        >
        </mat-slider>
      </div>
    </div>
    <div *ngSwitchDefault>
      <div>
        <span class="form-title">Frequency</span>
        <mat-slider
          min="0"
          max="5000" 
          step="100" 
          [thumbLabel]="true" 
          [(ngModel)]="frequency" 
          (input)="changeFrequency($event)"
        >
        </mat-slider>
      </div>
      <div *ngIf="effectsControl.value !== 'lowshelf' || effectsControl.value !== 'highshelf'">
        <span class="form-title">Q</span>
        <mat-slider
          min="0"
          max="10" 
          step="0.5" 
          [thumbLabel]="true" 
          [(ngModel)]="filterQ" 
          (input)="changeQ($event)"
        >
        </mat-slider>
      </div>
      <div *ngIf="effectsControl.value === 'lowshelf' || effectsControl.value === 'highshelf' || effectsControl.value === 'peaking'">
        <span class="form-title">Gain</span>
        <mat-slider
          min="0"
          max="1" 
          step="0.1" 
          [thumbLabel]="true" 
          [(ngModel)]="filterGain" 
          (input)="changeFilterGain($event)"
        >
        </mat-slider>
      </div>
    </div>
  </div>
</div>