<div class="equalizer-container">

  <div>
    <mat-form-field appearance="fill">
      <mat-label>Effect</mat-label>
      <mat-select [formControl]="effectsControl">
        <mat-option value="tremolo">Tremolo</mat-option>
        <mat-option value="stereo-tremolo">Stereo tremolo</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div [ngSwitch]="effectsControl.value">
    <div *ngSwitchCase="'tremolo'">
      <div>
        <span class="form-title">Speed</span>
        <mat-slider
          min="0"
          max="30" 
          step="1" 
          [thumbLabel]="true" 
          [(ngModel)]="tremoloFrequency" 
          (input)="changeTremoloFrequency($event)"
        >
        </mat-slider>
      </div>
    </div>
    <div *ngSwitchCase="'stereo-tremolo'">
      <span class="form-title">Panning rate</span>
      <mat-slider 
        min="0"
        max="10"
        step="1"
        [thumbLabel]="true"
        [(ngModel)]="stereoTremoloFrequency" 
        (input)="changeStereoTremoloFrequency($event)"
      >
      </mat-slider>
    </div>
    <div *ngSwitchDefault>
      
    </div>
  </div>

</div>